:root{
	--red: #951B1E;
	--lightgrey: #D1D1D1;
	--green: #2FB061;
	--white:#fff;
	--black:#000000;
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
/*	background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;*/
}

body{
	font-family: 'Bebas Neue', cursive;
	width: 100%;
	height: 100%;
	font-size: 16px;
	font-weight: 400;
}
.banner{
	background: var(--black);
	overflow: hidden;
}
.banner__wrapper{
	max-width: 1440px;
	margin: 0 auto;
}
header{
	width: 100%;
	background: var(--black);
	border-bottom: 1px solid black;
}
.nav{
	max-width: 1440px;
	height: 92px;
	width: 100%;
	padding: 0 220px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav__brand{
	height: 100%;
}
.nav__brand img{
	height: 100%;
	object-fit: contain;
}
.nav__items{
	display: flex;
	align-items: center;
	list-style: none;
}
.nav__items__item{
	font-size: 1rem;
	color: #fff;
}
.nav__items__item:hover{
	color: var(--red);
	cursor: pointer;
}

.nav__items__item:not(:first-child){
	margin-left: 30px;
}

.hero{
	border: none;
	height: calc(100vh - 92px);
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 220px;
	padding-right: 120px;
	position: relative;
}
.hero__content{
	text-align: left;
	line-height: 1;
	margin-right: 20px;
	min-width: 380px;
}
.hero__content h1{
	color: var(--white);
	font-size: 3rem;
	line-height: 1;
}
.hero__content h1 span{
	color: var(--red);
}
.hero__content p{
	color: var(--white);
	font-family: 'Inter', sans-serif;
	font-size: 1rem;
	line-height: 200%;
	font-weight: 400;
	margin-bottom: 20px;
}
.hero__image{
	align-self: flex-end;
	width: 100%;
	max-width: 700px;
}

.hero__content__buttons button:first-child{
	margin-right: 20px;
}

.about{
	background: var(--red);
	text-align: center;
	height: 424px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.about__contents h2{
	font-size: 2.25rem;
	line-height: 1.33;
	color: var(--white);
	letter-spacing: 1px;
	margin-bottom: 20px;
}
.about__contents p{
	font-size: 1rem;
	line-height: 1.5;
	color: var(--lightgrey);
	margin-bottom: 20px;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 20px;
	max-width: 700px;
}

.programs{
	background: var(--black);
}

.business-nonProfit{
	margin: 0 auto;
	height: 928px;
	max-width: 1440px;
	padding: 50px 160px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.businesses{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 413px;
	align-self: flex-start;
}
.businesses__image{
	height: 100%;
	width: 620px;
	padding: 50px 70px 0 70px;
}
.businesses__details{
	text-align: left;
}
.businesses__details h6, .nonProfit__details h6{
	font-size: 1rem;
	line-height: 1.5;
	letter-spacing: 0.1em;
	color: var(--red);
	margin-bottom: 10px;
	font-weight: 400;
}

.businesses__details h2, .nonProfit__details h2{
	font-size: 2.25rem;
	line-height: 1;
	color: var(--white);
	margin-bottom: 10px;
	font-weight: 400;
}

.businesses__details p, .nonProfit__details p{
	font-size: 1rem;
	line-height: 1.5;
	color: var(--lightgrey);
	margin-bottom: 25px;
	font-family: 'Roboto', sans-serif; 
}
.nonProfit__image img, .businesses__image img{
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.nonProfit{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 390px;
	align-self: flex-end;
}
.nonProfit__image{
	height: 100%;
	width: 585px;
	order: 2;
	padding: 0 70px 0 15px;
	margin-left: 45px;
}
.nonProfit__details{
	text-align: right;
}
.events{
	margin: 0 auto;
	height: 200px;
	max-width: 1440px;
	padding: 0 220px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.event{
	display: flex;
	align-items: center;
}
.event__image{
	height: 100%;
	margin-right: 35px;
}
.event__image img{
	height: 100%;
	object-fit: contain;
}
.event__details h2{
	font-size: 3rem;
	font-weight: 400;
	line-height: .5;
	color: var(--green);
	margin-bottom: 10px;
}
.event__details p{
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: var(--lightgrey);
	font-family: 'Inter', sans-serif;
}
.events__buttons button:first-child{
	margin-right: 20px;
}

.division{
	height: 248px;
	text-align: center;
	background: var(--red);
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
.division__text{
	font-size: 3rem;
	font-weight: 400;
	color: var(--white);
	position: relative;
	line-height: 1;
}
.division__text:before, .division__text:after{
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: 1px;
	width: 100%;
	background: var(--white);
}
.division__text:before{
	left: -60px;
	transform: translateX(-100%);
} 
.division__text:after{
	right: -60px;
	transform: translateX(100%);
}

footer{
	background: var(--black);
	height: 307px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 0 220px;
}
.services{
	display: flex;
	align-items: center;
	justify-content: center;
	flex:1;
}
.services__image{
	height: 60px;
	width: 50%;
	display: flex;
	justify-content: flex-end;

}
.services__image img{
	margin-right: 75px;

}
.services__content{
	width: 50%;
}
.services__content p{
	color: #9B9B9B;
	font-size: .75rem;
	font-weight: 400;
	font-family: 'Roboto', sans-serif; 
}
.copyright{
	color: #9B9B9B;
	text-align: center;
}

.btn{
	width: 175px;
	height: 45px;
	font-size: 1.2rem;
	font-family: 'Bebas Neue', cursive;
	letter-spacing: 1.5px;
	border-radius: 5px;
	border: none;
	outline-width: 0;
	font-weight: 400;
	cursor: pointer;
}

.btn--red{
	background: var(--red);
	color: var(--white);
}

.btn--light{
	background: var(--white);
	color: var(--black);
}

.btn--green{
	background: var(--green);
	color: var(--white);
}
.bg-black{
	background: var(--black);
}
.bg-brown{
	background: #161616;
}
.nav__hamburger{
	display: none;
}
.backdrop{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.8);
	z-index: 20;
}

.backdrop.show{
	display: block;
}


@media screen and (max-width: 500px){
	.nav{
		height: 75px;
		position: absolute;
		top: 0;
		left: 0;
		padding: 0 20px;
	}
	.nav__brand{
		height: 50px;
	}
	.nav__items{
		display: none;
		height: 100vh;
	    width: 80%;
	    position: fixed;
	    top: 0;
	    left: -80%;
	    transform: translateX(0%);
	    z-index: 30;
	    flex-direction: column;
	    align-items: flex-start;
	    background: var(--red);
	    padding: 87px 48px 0 41px;
	    transition: all 0.2s ease-in;
	}
	.nav__items.show{
		display: flex;
	}
	.nav__items__item:not(:first-child) {
	    margin-left: 0;
	}
	.nav__items__item{
	    margin-left: 0;
	    margin-bottom: 17px;
	    font-size: 2.25rem;
	}
	.nav__hamburger{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.bar{
		width: 20px;
		height: 2px;
		background: var(--white);
	}
	.bar:not(:last-child){
		margin-bottom: 3px;
	}
	.hero{
		margin-top: 75px;
		flex-direction: column;
		height: auto;
		padding: 0;
	}
	.hero__image img{
		width: 100%;
	}
	.hero__content{
		padding: 29px 27px 0 28px;
		margin-right: 0;
		text-align: center;
	}
	.about{
		height: auto;
		padding: 50px 27px 52px 28px;
	}

	.businesses, .nonProfit{
		flex-direction: column;
		height: auto;
		padding: 50px 27px 0 28px;
	}

	.businesses__image, .nonProfit__image{
		height: 100%;
		width: 100%;
		padding: 0;
		margin-bottom: 30px;
	}
	.business-nonProfit{
		padding: 0;
		height: auto;
	}
	
	.nonProfit__image{
		width: 100%;
		order: 0;
		margin-left: 0;
	}
	.nonProfit__details, .businesses__details{
		text-align: center;
	}
	.events{
		padding: 102px 0 82px 0;
		flex-direction: column;
		height: auto;
	}
	.event{
		flex-direction: column;
	}
	.event__details{
		flex-direction: column;
		text-align: center;
		margin-bottom: 28px;
	}
	.event__image{
		margin-right: 0;
		margin-bottom: 40px;
	}
	.event__image img{
		width: 200px;
		object-fit: contain;
	}

	.division{
		padding: 50px 27px 50px 28px;
		height: auto;
	} 

	footer{
		padding: 50px 27px 0 28px;
		height: auto;
	}
	.services{
		flex-direction: column;
	}
	.services__image, .services__content{
		width: 100%;
	}
	.services__content{
		text-align: center;
		margin-bottom: 25px;
	}
	.services__image{
		margin-bottom: 30px;
		padding: 0 10px;
	}
	.services__image img{
		margin-right: 0;
		width: 100%;
		object-fit: contain;
	}
	.copyright{
		width: 100%;
		padding: 24px 37px 27px 37px;
	}
	.btn{
		width: 150px;
		height: 45px;
	}

}

@media screen and (max-width: 1099px) and (min-width: 799px){
	.nav{
		padding: 0 20px;
	}
	.events{
		padding: 0 100px;
	}
	.business-nonProfit {
	    margin: 0 auto;
	    height: 928px;
	    width: 800px;
	    padding: 50px 0px;
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    justify-content: center;
	}
	.nonProfit{
		height: 300px;
		align-self: flex-end;
	}
	.businesses{
		height: 330px;
	}
	.nonProfit__image {
	    width: 400px;
	    order: 2;
	    padding: 0 20px 0 0px;
	    margin-left: 45px;
	}
	.businesses__image {
	    width: 400px;
	    padding: 50px 0px 0 20px;
	    margin-right: 45px;
	}
	.events{
		margin: 0 auto;
		width: 800px;
		padding: 0 20px;
	}
	.division__text{
		width: 50%;
	}

	footer{
		padding: 0 20px;
	}
	.services__image{
		height: 40px;
	}
	.services__image img{
		height: 100%;
		object-fit: contain;
	}
	.btn{
		width: 150px;
		height: 45px;
	}
}


@media screen and (max-width: 1439px) and (min-width: 1099px){
	.nav{
		padding: 0 100px;
	}
	.events{
		padding: 0 100px;
	}
	.business-nonProfit {
	    margin: 0 auto;
	    height: 928px;
	    width: 1100px;
	    padding: 50px 0px;
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    justify-content: center;
	}
	.nonProfit__image {
	    width: 550px;
	    order: 2;
	    padding: 0 100px 0 0px;
	    margin-left: 45px;
	}
	.businesses__image {
	    width: 550px;
	    padding: 50px 0px 0 100px;
	    margin-right: 45px;
	}
	.events{
		margin: 0 auto;
		width: 1100px;
		padding: 0 100px;
	}




